@import "./src/utils/sass/main";

header {
  display: flex;
  flex-direction: column;
  & .logo {
    @include text-bold-05;
    padding-left: 20px;
  }
}

@media screen and (min-width: 768px) {
  header {
    & .logo {
      padding-left: 40px;
      @include text-bold-04;
    }
  }
}

@media screen and (min-width: 1300px) {
  header {
    & .logo {
      @include text-bold-03;
      margin: 0 auto;
      width: 1200px;
      padding: 10px 0 70px;
    }
  }
}
